.idea
__pycache__/
*.DS_Store
Pipfile.lock
server/__pycache__/
server/.pytest_cache
dist
server/.env
.pytest_cache
.vscode/
.server
*.ipynb
server/config/environ/
.vscode
server/db/environ
Pipfile
.http
yarn.lock
node_modules
.nuxt
venv